<div class="login-page">
  <div class="background-overlay"></div>

  <div class="container min-vh-100 d-flex align-items-center justify-content-center py-5 position-relative">
    <div class="row login-wrapper w-100 justify-content-end">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="login-card mx-auto">
          <h2 class="login-title logo-font">تسجيل الدخول</h2>

          <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="login-form">
            <!-- Username -->
            <div class="mb-3">
              <input type="text" formControlName="userName" class="form-control custom-input text-end"
                placeholder="اسم المستخدم" [class.is-invalid]="
                  loginForm.get('userName')?.invalid &&
                  loginForm.get('userName')?.touched
                " />
            </div>

            <!-- Password -->
            <div class="mb-3">
              <input type="password" formControlName="password" class="form-control custom-input text-end"
                placeholder="كلمة السر" [class.is-invalid]="
                  loginForm.get('password')?.invalid &&
                  loginForm.get('password')?.touched
                " />
            </div>


            <button type="submit" class="btn submit-btn w-100" [disabled]="isLoading || loginForm.invalid">

              <span *ngIf="isLoading" class="btn-inner">
                <span class="spinner-border spinner-border-sm me-2"></span>
                جاري التحميل...
              </span>

              <span *ngIf="!isLoading">
                تسجيل الدخول
              </span>

            </button>
          </form>

          <!-- Register Link -->
          <div class="login-link text-center mt-4">
            <span>ليس لديك حساب؟ </span>
            <a routerLink="/register">إنشاء حساب</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>