
.navbar{
  width: 100%;
  z-index: 1000;

  position: fixed;
    top: 0;
}
.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 24px;  /* زيادة الحجم */
  height: 24px; /* زيادة الحجم */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;  /* زيادة حجم الخط */
  font-weight: bold;
  z-index: 1000;
}
.cart-counter-navbar {
  position: absolute;
  top: -1px; /* قريب لفوق بس مش بعيد */
  left: 25px; /* ناحية اليمين شوية */
  background-color: #bf702b;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


