.text-primary {
  color: #5D1037 !important;
}

.btn-outline-primary {
  border-color: #5D1037;
  color: #5D1037;
}

.btn-outline-primary:hover {
  background-color: #5D1037;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #5D1037;
}
.btn-outline-maroon {
  border: 2px solid #4b1c2d;
  color: #4b1c2d;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn-outline-maroon:hover {
  background-color: #4b1c2d;
  color: white;
  transform: translateY(-2px);
}
