<div class="hero position-relative text-white text-center d-flex align-items-center justify-content-center">
  <div class="overlay position-absolute w-100 h-100 bg-dark opacity-50"></div>
  <div class="content position-relative">
    <h1 class="display-4">متجر يدنين للزي الشرعي</h1>
    <p class="lead">جميع مستلزمات الحجاب الشرعي بأفضل الأسعار وأجود الخامات</p>
    <a routerLink="/store" class="btn btn-maroon mt-3">تسوق الآن</a>
  </div>
</div>

<section class="container my-5">
  <h2 class="mt-5 mb-9 text-center">العروض الخاصة</h2>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let offer of offers; let i = index">
      <div class="card h-100 text-center d-flex flex-column">
        <img [src]="offer.image" class="card-img-top" alt="عرض خاص" style="height: 300px; object-fit: cover;">
        <div class="card-body d-flex flex-column justify-content-between p-2">
          <h6 class="mb-2" style="font-size: 0.9rem;">{{ offer.title }}</h6>
          <p class="text-primary mb-2" style="font-size: 0.85rem;">{{ offer.description }}</p>
          <p class="mb-2" >خصم: {{ offer.discount }}%</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="mt-5 mb-9 text-end">فساتين</h2>
<div class="row">
  <div class="col-md-3 mb-4" *ngFor="let item of fustan">
    <div class="card h-100 text-center d-flex flex-column">
      <img [src]="item.imageUrl" class="card-img-top" [alt]="item.description" style="height: 300px; object-fit: cover;">
      <div class="card-body d-flex flex-column justify-content-between p-2">
        <h6 class="mb-2" style="font-size: 0.9rem;">{{ item.name }}</h6>
        <p class="text-primary mb-2" style="font-size: 0.85rem;">{{ item.price }} ج</p>
        <div class="mt-auto">
          <button class="btn btn-maroon btn-sm" (click)="addToCart(item)">أضف إلى السلة</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <h2 class="mb-9 text-end">عبايات</h2>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let item of ednaa">
      <div class="card h-100 text-center d-flex flex-column">
        <img [src]="item.imageUrl" class="card-img-top" [alt]="item.description" style="height: 300px; object-fit: cover;">
        <div class="card-body d-flex flex-column justify-content-between p-2">
          <h6 class="mb-2" style="font-size: 0.9rem;">{{ item.name }}</h6>
          <p class="text-primary mb-2" style="font-size: 0.85rem;">{{ item.price }} ج</p>
          <div class="mt-auto">
            <button class="btn btn-maroon btn-sm" (click)="addToCart(item)">أضف إلى السلة</button>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>

<div class="text-center my-5">
  <a routerLink="/store" class="btn btn-maroon btn-lg px-5">الذهاب إلى المتجر</a>
</div>
