<footer class="footer mt-auto mainColor text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="footer-logo">
          <h2 class="mb-3 logo-font">يُدنِين</h2>
          <p class="mb-0"> يُدْنِينَ عَلَيْهِنَّ مِن جَلَابِيبِهِنَّ</p>
        </div>
      </div>

      <div class="col-md-3 mb-4 mb-md-0">
        <div class="footer-section">
          <h3 class="h5 mb-3">المنتجات</h3>
          <ul class="list-unstyled">
            <li class="mb-2"><a routerLink="/products/dresses" class="text-white text-decoration-none">الفساتين</a></li>
            <li class="mb-2"><a routerLink="/products/veils" class="text-white text-decoration-none">الخُمارات</a></li>
            <li><a routerLink="/products/abayas" class="text-white text-decoration-none">العبايات</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 mb-4 mb-md-0">
        <div class="footer-section">
          <h3 class="h5">روابط سريعة</h3>
          <ul class="list-unstyled">
            <li class="mb-2"><a routerLink="/home" class="text-white text-decoration-none">الصفحة الرئيسية</a></li>
            <li class="mb-2"><a routerLink="/store" class="nav-link active text-white" aria-current="page" routerLinkActive="text-warning">المتجر</a></li>
            <li><a routerLink="/cart" class="text-white text-decoration-none">السلة</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-section">
          <h3 class="h5 mb-3">التواصل</h3>
          <ul class="list-unstyled">
            <li class="mb-2">+0201027542989</li>
            <li class="mb-2">youdneen&#64;gmail.com</li>
            <li>
              <a href="https://www.facebook.com/udnystore" target="_blank" class="text-white text-decoration-none">
                Facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
